<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayos-Demo</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        nav {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            background-color: #6194d5;
            justify-content: space-between;
            overflow: auto;
        }
    </style>
</head>
<body style="background-color: #dbfcff">
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid" style="text-align:center;">
                <a class="navbar-brand" href="#">Kayos-AI Assist</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://kayosaifitness.company.site/">Buy Now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <h1 style="padding-left: 50px">Live streaming</h1>
    <div style="padding-left: 50px">
        <video id="videoPlayer" autoplay width="50%" style="border: 2px solid black;"></video>
        <button id="startButton">Start Streaming</button>
        <button id="stopButton">Stop Streaming</button>
    </div>

    <script>
        const videoPlayer = document.getElementById('videoPlayer');
        const startButton = document.getElementById('startButton');
        const stopButton = document.getElementById('stopButton');

        startButton.addEventListener('click', startStreaming);
        stopButton.addEventListener('click', stopStreaming);

        function startStreaming() {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(stream => {
                    videoPlayer.srcObject = stream;
                })
                .catch(error => {
                    console.log('Error accessing camera:', error);
                });
        }

        function stopStreaming() {
            const stream = videoPlayer.srcObject;
            const tracks = stream.getTracks();

            tracks.forEach(track => track.stop());
            videoPlayer.srcObject = null;
        }
    </script>
</body>
</html>

